---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Join our next challenge">
	<main class="container text-center mx-auto">
		<p>We don't have an active challenge at the moment!</p>
	</main>
</Layout>

<style>
</style>
