---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import LatestPodcast from "../components/LatestPodcast.astro";

import MTILogo from "../assets/MTI Logo Full.png";
---

<Layout title="Welcome">
  <header class="container mx-auto mt-5">
    <Image
      src={MTILogo}
      class="w-1/2 mx-auto"
      alt="Multithreaded Income Logo"
    />
  </header>
<main class="container mx-auto mt-5 flex-auto w-full">
	<div class="flex flex-wrap">
		<div class="w-full md:w-1/2">
			<p class="text-center">
				<span class="font-bold">Multithreaded Income</span> is your insurance policy against the turbulant
				world of tech.
			</p>
		</div>
		<div class="w-full md:w-1/2">
			<LatestPodcast />
			<!-- <LatestArticle /> -->
		</div>
	</div>
</main>
  </main>
</Layout>

<style></style>
