---
// Import your fetchAndParseRSS function
import { fetchAndParseRSS } from '../../fetchPodcast';

const rssUrl = 'YOUR_PODCAST_RSS_FEED_URL';
let podcastData = await fetchAndParseRSS(rssUrl);

console.log(podcastData);

---

<!-- Use podcastData in your component -->
<div>
    <!-- Render your podcast data -->
</div>